$item-height: 3.65em;
$item-radius: 0.375em;

.clone {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 35px 0;
}

.clone__form {
	margin-bottom: 20px;
    width: 100%;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

.clone__form__item {
	height: $item-height;
}

.clone__form__item--destination {
	@extend .clone__form__item;
	width: 40%;
	input {
		height: 100%;
		width: 100%;
	}
}

.clone__output {
	width: 100%;
}
