.accounts-summary {
    border: 1px solid $main-color;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}
