// border: 1px solid $main-color;
.product {
    width: 100%;
    padding: 20px;
}

.product__gallery {

}

.product__gallery__image {
    width: 100px;
    height: 100px;
    margin: 4px;
}

.product__categories {
    display: flex;
}

.product__buttonbox {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
