.product {
    margin-top: $medium-space;
    color: $grape-purple;
}

.product__heading {
}

.product__back {
    padding-top: 10px;
    display: flex;
    width: 125px;
    justify-content: space-between;
    i {
        align-self: center;
    }
    div:hover {
        cursor: pointer;
        text-decoration: underline;
        color: darken($text-color, 5%);
    }
}

.product__top {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.product__top__nameandrating {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.product__top__nameandrating__name {
    font-size: 28px;
}

.product__top__nameandrating__rating {
    // align-self: flex-end;
    color: $darkish-pink;
    margin-top: 12px;
    margin-left: 30px;
}

.product__top__buttonbox {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.product__info {
    color: $darkish-pink;
}

.product__info__categories {
    display: flex;
}

.product__info__categories__item {
    margin-right: 25px;
}

.product__info__price {

}

.product__gallery {
    margin-top: $large-space;
    display: flex;
    justify-content: space-between;
}

.product__gallery__image {
    width: 300px;
    height: 300px;
    margin: 4px;
}

.product__reviews {
    margin-top: $large-space;

}

.product__reviews__group {
    margin: 20px;
}

.product__reviews__group__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.product__reviews__group__item__quote {
    font-size: 30px;
    height: 15px;
}

.product__reviews__group__item__text {
    margin-left: 10px;
}

.product__reviews__group__item__userandmore {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.product__reviews__group__item__userandmore__user {

}

.product__reviews__group__item__userandmore__more {
    margin-right: 70%;
    color: $darkish-pink;
}

.product__map {
    margin-top: $large-space;
    width: 100%;
    min-height: 200px;
    margin-bottom: $medium-space;
    .leaflet-container {
        height: 400px;
        width: 100%;
    }
}

.product__map__location {
    color: $darkish-pink;
    margin-bottom: $small-space;
}
