.product {
    padding: 0 5%;
    width: 100%;
}

.product__back {
    padding-top: 10px;
    display: flex;
    width: 125px;
    justify-content: space-between;
    i {
        align-self: center;
    }
    div:hover {
        cursor: pointer;
        text-decoration: underline;
        color: darken($text-color, 5%);
    }
}

.product__top {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.proudct__top__name {
    align-self: flex-end;
    @include h1;
}

.product__top__buttonbox {
    align-self: flex-end;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.product__categories {
    display: flex;
}

.product__categories__item {
    margin-right: 25px;
}

.product__info {
    height: 40px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.product__info--price {
    @extend .product__info;
    width: 15%;
}

.product__reviews {
    margin: 20px;
}

.product__reviews__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    blockquote {
        margin-bottom: 0.5em;
    }
}

.product__reviews__item__user {
    width: 10%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.product__reviews__item__user__img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product__gallery {

}

.product__gallery__image {
    width: 300px;
    height: 300px;
    margin: 4px;
}

.product__map {
    width: 100%;
    height: 400px;
    .leaflet-container {
        height: 400px;
        width: 100%;
    }
}
