.about {
	width: 100%;
	padding: 0 5%;
}

.about__content {
	width: 100%;
}

.about__content__greet {
	width: 100%;
	display: flex;
	justify-content: center;
}

.about__start {
	width: 100%;
	display: flex;
	justify-content: center;
}
