files:
    "/tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            server {
                listen 80;

                location / {
                    if ($http_x_forwarded_proto != 'https') {
                        return 301 https://www.doodexperience.com$request_uri;
                    }
                }
            }
