files:
    "/tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            server {
                listen 80 default_server;
                listen [::]:80 default_server;
                server_name doodexperience.com www.doodexperience.com;
                return 301 https://$server_name$request_uri;
            }
