$headerbar-height: 55px;

.headerbar {
    position: relative;
    width: 100%;
    height: $headerbar-height;
    background-color: $main-color;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
}

.headerbar__logo {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.headerbar__logo__text {
    font-size: 34px;
    font-family: 'Patua One', serif;
    color: #ffffff;
}

.headerbar__menu {
    margin-left: 20px;
    .mi {
        color: #ffffff;
        padding-left: 10px;
        display: flex;
        align-items: center;
        &:hover {
            color: #eeeeee;
            background-color: darken($main-color, 3%);
            cursor: pointer;
        }
    }

    .mi--selected {
        @extend .mi;
        background-color: darken($main-color, 3%);
        color: #eeeeee;
        &:hover {
            cursor: default;
        }
    }

    .mi__name {
        @include no-select;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px;
    }
}
