.headerbar {
    position: fixed;
    z-index: 10;
    width: $content-width;
    height: $headerbar-height;
    background: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.headerbar__logo {
    font-size: 34px;
    color: $darkish-pink;
    font-weight: bold;
}
