.smart {

}

.smart__input {
    margin: 0 5%;
    padding: 20px 0;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.smart__input__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.smart__input__form__textarea {
    height: 100px;
}

.smart__input__form__location {
    display: flex;
    align-items: center;
    height: 50px;
}

.smart__input__form__location__spin {
    align-self: flex-end;
    margin-left: 5px;
}

.smart__input__form__location__loc {
    margin-left: 5px;
    font-weight: bold;
}

.smart__input__form__location__change {
    color: $main-color;
    margin-left: 10px;
    font-size: 10px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}


.smart__input__form__button {
    margin-left: auto;
}

.smart__output {

}

.smart__output__title {
    margin-left: 5%;
}
