.transactions-table {
    .table-header-wrapper {
        margin-bottom: -22px;
    }
    .react-bs-container-body {
        max-height: 600px;
        overflow-y: scroll;
    }
    .table-bordered {
        border-style: hidden;
    }
    .react-bs-table {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
