/**
 *
 * Global CSS
 */

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#root {
    height: 100%;
    width: 100%;
}

.btn {
    min-height: 34px;
    font-size: 14px !important;
    i {
        margin-right: 5px;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.btn.active {
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.btn-success {
    background-color: #00802b;
    border-color: #00802b;
}

.form-control {
    min-height: 34px;
}

.popover-content td:hover {
    background-color: darken(#ffffff, 10%);
}

/**
 *
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Patua+One');
// @font-face {
//     font-family: 'PatuaOne';
//     src: url('resources/fonts/PatuaOne-Regular.otf');
// }

/**
 *
 * Variables
 */

$main-color: #f56a6a;
$headerbar-height: 75px;
$content-width: 80%;
$h1-color: #3d4449;


/**
 *
 * Mixins
 */

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 *
 * Imports
 */

@import 'resources/styles/editorial-html5up';
@import 'resources/styles/normalize';
@import 'containers/App/App';
@import 'containers/Landing/Landing';
@import 'containers/Product/Product';
@import 'containers/Results/Results';
@import 'containers/Search/Search';
@import 'components/HeaderBar/HeaderBar';
@import 'components/ResultItem/ResultItem';
@import 'components/SearchForm/SearchForm';
