.home {
	margin-top: $large-space;
	color: $grape-purple;
}

.home__content__section {
	font-weight: lighter;
   	margin-bottom: $medium-space;
}

.home__content__section--title {
   	margin-bottom: $medium-space;
	text-align: center;
}

.home__content__section--important {
	// color: $darkish-pink;
	font-weight: bold;
	tr {
		border-style: hidden;
	}
}

.home__content__heading {
	font-weight: normal;
}

.home__tldr {
	margin: $large-space 0;
}

.home__start {
	width: 100%;
	margin-bottom: $large-space;
}

.home__content__table__num {
	width: 15%;
	text-align: right;
}

.home__content__table__rule {
	padding-left: 10px;
}
