.home {
	margin-top: $large-space;
}

.home__content__section {
	font-weight: lighter;
   	margin-bottom: $medium-space;
}

.home__content__heading {
	color: $grape-purple;
	font-weight: normal;
}

.home__tldr {
	margin: $large-space 0;
}

.home__start {
	width: 100%;
	margin-bottom: $large-space;
}
