.ritem {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid $main-color;
    display: flex;

    &:hover {
        // background: darken(#fff, 5%);
        cursor: pointer;
    }
}

.ritem__image {
    width: 20%;
}

.ritem__image__img {
    width: 180px;
    height: 180px;
}

.ritem__info {
    width: 60%;
}

.ritem__info__name {
    @include h1;
}

.ritem__contact {

}
