.search {
	width: 100%;
	top: $headerbar-height;
	height: calc(100% - $headerbar-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.search__form {
	height: 100%;
	width: 60%;
}