.search {
	width: 100%;
	height: calc(3.65em + 70px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 35px 0;
}

.search__form {
	height: 100%;
	width: 100%;
}
