$item-height: 3.65em;
$item-radius: 0.375em;

.searchform {
	padding: 0 5%;
	height: 200px;
    width: 100%;
	display: flex;
    align-items: center;
	justify-content: space-between;
}

.searchform__item {
	height: $item-height;
}

.searchform__item--destination {
	@extend .searchform__item;
	width: 40%;
	input {
		height: 100%;
	}
}

.searchform__item--datepicker {
	@extend .searchform__item;
	width: 20%;
	span {
		height: 100%;
		border-radius: $item-radius;
	}
	input {
		border-top-left-radius: $item-radius !important;
		border-bottom-left-radius: $item-radius !important;
		height: 103%;
	}
}
